:root {
  //color palette
  --pitg-primary-purple: #904190;
  --pitg-secondary-green: #8ac658;
  --pitg-secondary-pink: #c6597a;
  --pitg-complement-yellow: #ded363;
  --pitg-primary-grey: #626262;
  --pitg-secondary-grey: #D9D9D9;

  --pitg-primary-black: #333333;

  --pitg-purple-900: #782578;
  --pitg-purple-700: #ab66ab;
  --pitg-purple-500: #ce98ce;
  --pitg-purple-300: #eaccea;

  --pitg-green-900: #66a432;
  --pitg-green-700: #b2e588;
  --pitg-green-500: #cef0b1;
  --pitg-green-300: #e7f8d9;

  --pitg-pink-900: #a53355;
  --pitg-pink-700: #e689a5;
  --pitg-pink-500: #f0b2c5;
  --pitg-pink-300: #f9d9e3;

  --pitg-yellow-900: #b8ac39;
  --pitg-yellow-700: #fff698;
  --pitg-yellow-500: #fff9bd;
  --pitg-yellow-300: #fffdef;
  
  --pitg-background-primary: #FFF4E3;
  --pitg-background-secondary: #f1f1f1;

  
  --pitg-purple-gradient: linear-gradient(92deg, rgba(144,65,144,1) 1.99%, rgba(206,152,206,1) 132.83%);
  --pitg-green-gradient: linear-gradient(92deg, rgba(138,198,88,1) 1.99%, rgba(178,229,136,1) 132.83%);

} 